@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-gray-200 text-gray-900;
    -webkit-font-smoothing: antialiased;
}

html ::-webkit-scrollbar {
    width: 7px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #6e6ea9;
}

html ::-webkit-scrollbar-track {
    background: none;
}